*                               { margin: 0; padding: 0; }
body                           
 { font: 12px "Lucida Grande", Sans-Serif;
    background-image: url("../img/header.jpg");
    background-size: cover;}
h2                              { color: #fa9f00; font: 30px Helvetica, Sans-Serif; margin: 0 0 10px 0; }
#page-wrap                      { width: 500px; margin: 30px auto; position: relative; }

#chat-wrap                      {margin: 0 0 15px 0; } /* border: 1px solid #eee; */
#chat-area                      { overflow: auto; border: 1px solid #666; padding: 20px;  } /*background: white;*/
#chat-area span              { color: white; background: rgb(224, 84, 28); padding: 4px 8px; margin: 0 5px 0 0;}
#chat-area div                   { padding:0 ; margin: 20px; background: #fff; }

#name-area                      { position: absolute; top: 12px; right: 0; color: white; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right; }   
#name-area span                 { color: #fa9f00; }

#send-message-area p            { float: left; color: white; padding-top: 27px; font-size: 14px; }
#sendie                         { border: 3px solid #999; width: 360px; padding: 10px; font: 12px "Lucida Grande", Sans-Serif; float: right; }